body {
    font-family: sans-serif;
}


header {
    background-color: rgb(148, 185, 255);
    padding: 10px;
}



h1 {
    text-align: center;
    color: darkblue
}

footer p {
    border: 1px solid black;
    padding: 5px;
}


nav {
    font-size: 20px;
    background-color: rgb(15, 114, 20);
    padding: 2px;
}


nav a {
    color: white;
    text-decoration:none;
    margin: 40px;
}
